@import "variables";

@font-face {
    font-family: "Metropolis Black";
    src: local("Metropolis Black"),
     url(../fonts/Metropolis/Metropolis-Black.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis BlackItalic";
    src: local("Metropolis BlackItalic"),
     url(../fonts/Metropolis/Metropolis-BlackItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis Bold";
    src: local("Metropolis Bold"),
     url(../fonts/Metropolis/Metropolis-Bold.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis BoldItalic";
    src: local("Metropolis BoldItalic"),
     url(../fonts/Metropolis/Metropolis-BoldItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis ExtraBold";
    src: local("Metropolis ExtraBold"),
     url(../fonts/Metropolis/Metropolis-ExtraBold.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis ExtraBoldItalic";
    src: local("Metropolis ExtraBoldItalic"),
     url(../fonts/Metropolis/Metropolis-ExtraBoldItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis ExtraLight";
    src: local("Metropolis ExtraLight"),
     url(../fonts/Metropolis/Metropolis-ExtraLight.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis ExtraLightItalic";
    src: local("Metropolis ExtraLightItalic"),
     url(../fonts/Metropolis/Metropolis-ExtraLightItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis Light";
    src: local("Metropolis Light"),
     url(../fonts/Metropolis/Metropolis-Light.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis LightItalic";
    src: local("Metropolis LightItalic"),
     url(../fonts/Metropolis/Metropolis-LightItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis Medium";
    src: local("Metropolis Medium"),
     url(../fonts/Metropolis/Metropolis-Medium.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis MediumItalic";
    src: local("Metropolis MediumItalic"),
     url(../fonts/Metropolis/Metropolis-MediumItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis Regular";
    src: local("Metropolis Regular"),
     url(../fonts/Metropolis/Metropolis-Regular.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis RegularItalic";
    src: local("Metropolis RegularItalic"),
     url(../fonts/Metropolis/Metropolis-RegularItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis SemiBold";
    src: local("Metropolis SemiBold"),
     url(../fonts/Metropolis/Metropolis-SemiBold.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis SemiBoldItalic";
    src: local("Metropolis SemiBoldItalic"),
     url(../fonts/Metropolis/Metropolis-SemiBoldItalic.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis Thin";
    src: local("Metropolis Thin"),
     url(../fonts/Metropolis/Metropolis-Thin.otf) format("truetype");
  }
  @font-face {
    font-family: "Metropolis ThinItalic";
    src: local("Metropolis ThinItalic"),
     url(../fonts/Metropolis/Metropolis-ThinItalic.otf) format("truetype");
  }