/*Primary Colors*/
$greenStey: #44AB34 !important;
$blueStey: #2DACE2 !important;
$whiteStey: #FFFFFF !important;
$greyStey: #B3B1B2 !important;
$lightGreyStey: #F5F5F5 !important;
$blackStey: #000000 !important;
$darkGreyStey: #2D3037 !important;
$yellowStey: #FAE615 !important;

/*Secondary Colors*/
$darkBlueStey: #184a70 !important;
$lightBlueStey: #F1F3F9 !important;
$cyanStey: #0DDBAB !important;
$lightCyanStey: #F6F9FC !important;

/*Alert Colors*/
$greenAlert: #24B218 !important;
$redAlert: #CC0066 !important;
$yellowAlert: #BCA902 !important;
$blueAlert: #306FCE !important;
$greyAlert: #7E7E7E !important;
$orangeAlert: #D99D05 !important;

:root {
    --greenStey: #{$greenStey};
    --blueStey: #{$blueStey};
    --whiteStey: #{$whiteStey};
    --greyStey: #{$greyStey};
    --lightGreyStey: #{$lightGreyStey};
    --blackStey: #{$blackStey};
    --darkGreyStey: #{$darkGreyStey};
    --yellowStey: #{$yellowStey};

    --darkBlueStey: #{$darkBlueStey};
    --lightBlueStey: #{$lightBlueStey};
    --cyanStey: #{$cyanStey};
    --lightCyanStey: #{$lightCyanStey};

    --greenAlert: #{$greenAlert};
    --redAlert: #{$redAlert};
    --blueAlert: #{$blueAlert};
    --yellowAlert: #{$yellowAlert};
    --greyAlert: #{$greyAlert};
    --orangeAlert: #{$orangeAlert};
}